{{#extend "layout"}}
    
    {{#content "body" mode="append"}}
    <a href="/topics/create" class="btn btn-primary"> <i class="fa fa-plus"></i> New Topic</a>
    <br>
     <table class="table table-bordered">
            <tr>
                <th>Topic ID</th>
                <th>Topic Name</th>
                <th>Topic Description</th>
                <th>Topic Summary</th>
                <th>Slot</th>
                <th>Status</th>
                <th></th>
            </tr>
            {{#each topics}}
            <tr>
                <td>{{id}}</td>
                <td>{{topic_name}}</td>
                <td>{{topic_description}}</td>
                <td>{{topic_summary}}</td>
                <td>{{slot}}</td>
                <td>{{is_active}}</td>
                <td>
                    <a href="/topics/detail?id={{id}}"><i class="fa fa-eye"></i></a>
                    <a href="/topics/delete?id={{id}}"><i class="fa fa-trash"></i></a>
                    <a href="/topics/update?id={{id}}"><i class="fa fa-pen"></i></a>
                </td>
            </tr>

            {{/each}}
        </table>
    {{/content}}
{{/extend}}
